/* =================== */
/*    CSS variables    */
/* =================== */
:root {
  --dark: #151515;
  --light: #fff;
  --accent: #3D52D5;

  --github: #f5f5f5;
  --linkedin: #0e76a8;
  --dribbble: #ea4c89;
  --twitter: #00acee;
}



/* ============================= */
/*     Browser defaults reset    */
/* ============================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background: var(--light);
  color: var(--dark);
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}



/* ============================= */
/*    Default element styling    */
/* ============================= */
h1 {
  font-size: 3rem;
  font-weight: 600;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
a {
  text-decoration: underline;
  font-weight: 800;
  color: var(--accent);
  font-size: 1.075rem;
}



/* ================== */
/*    Landing page    */
/* ================== */
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 105vh;
  width: 100%;
  background: var(--dark);
  color: var(--light);
  padding-bottom: 10vh;
}
#home .socials {
  margin-top: 3rem;
}
#home .socials a {
  text-decoration: none;
}
#home .socials svg {
  width: 3rem;
  height: 3rem;
  color: var(--light);
  transition: all 0.25s ease-in-out;
  margin: 0 0.75rem;
}
#home .socials svg:hover {
  scale: 1.35;
}
#home .socials .github:hover {
  color: var(--github);
}
#home .socials .linkedin:hover {
  color: var(--linkedin);
}
#home .socials .dribbble:hover {
  color: var(--dribbble);
}
#home .socials .twitter:hover {
  color: var(--twitter);
}


/* =================== */
/*    About section    */
/* =================== */
#about {
  height: 200vh;
  background: var(--light);
  color: var(--dark);
}